.brand{
    font-size: 15px;
}

.profile-pic{
width: 150px;
height: auto;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

ul{
    list-style-type: none;
}


.welcome{
    background-color: #D7F3FF;
}
